* {
  --main-color: #393e46;
  color: #393e46;
  font-size: 24px;
}
body {
  padding-top: 40px;
  width: 1024px;
  margin: 0 auto;
}
main {
  padding-top: 50px;
}

ol li {
  font-size: 20px;
  width: 800px;
  margin: 0 auto;

}

.navbar {
  padding: 5px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar .navbar-left, .navbar .navbar-right {
  display: flex;
}
.navbar li {
  flex-basis: 40px 1;
  margin-left: 5px;
  padding: 5px 15px;
}
.navbar .navbar-right {
  margin-left: auto;
}
.navbar a {
  color: var(--main-color);
}

.centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-logo {
  max-width: 50%;
}

.errors, .messages {
  padding: 1em;
  list-style: none;
  border-radius: 4px;
}
.messages {
  border: 2px solid var(--main-color);
}
.errors {
  background-color: #ff6161;
  border: 2px solid #cc0000;
}

.form {
  max-width: 600px;
  border: 2px solid var(--main-color);
  padding: 10px 50px;
}
.form label {
  font-size: smaller;
}

.form textarea {
  width: 100%;
  height: 3em;
  border: 2px solid var(--main-color);
  
}

.form input[type=text], .form input[type=password] {
  width: 100%;
  display: inline-block;
  border: none;
  border-bottom: 2px solid var(--main-color);
  text-align: center;
}

.form input[type=submit] {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
.form input[type=submit]:hover {
  cursor: pointer;
}
.form input[type=submit]:active {
  position: relative;
  top: 2px;
}

table {
  border-collapse: collapse;
  width: 400px;
  margin: 0 auto;
}
tr:first-child {
  border-bottom: 2px solid var(--main-color);
}
td,th {
  font-size: 20px;
  text-align: center;
}

.challenges {
  display: flex;
  flex-direction: row;
}

.challenge {
  display: block;
  border: 2px solid #393e46;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  color: #393e46;
  box-shadow: 0 1px 5px #393e46;
}
.challenge.solved {
  border-color: #3FB54F;
  box-shadow: 0 1px 5px #3FB54F;
}
.form.solved {
  border-color: #3FB54F;

}
.challenge:active {
  box-shadow: none;
}

.challenge-description {
  max-width: 75%; 
}